/*
        ___ Common Layout Rules ___
*/
html, body {
    font-size: 14px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
/*      Reset Lists
*/
dl, ol, ul {
    padding-left: 10px;
}

li {
    list-style: none;
}

/*      Text Formatting
*/
h1, h2, h3,
h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

strong {
    font-weight: bold;
}

a {
    transition: color 0.2s ease-out;
    color: $mz-orange;

    &:hover {
        color: $mz-darkorange;
    }

    &:visited {
        color: $mz-darkorange;
        border-color: $mz-darkorange;

        &:hover {
            border-color: $mz-orange;
        }
    }
}

.title {
    font-family: "Donegal One", serif;
}

.rcp-sel-title {
    color: $mz-darkblue;
    font-family: 'Donegal One', serif;
    padding-top: 0.5em;
    margin-left: 1em;
}

.txt-ctr {
    text-align: center;
}

.detail {
    color: $mz-coolgray;
}

/*      Icons
*/
.cancel {
    color: $mz-red;
    cursor: pointer;
    transition: color 0.2s ease-out;

    &:hover {
        color: $mz-darkred;
    }
}

/*      Borders
*/
@each $key, $value in $sides {
    .border-#{$key} {
        border-#{$value}: 1px solid $bright-gray;
    }
}

/*
		___ Recipes section in Results and Profile page ___
*/
.recipes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // scroll handle correction
    margin-right: 10px;

    // override rcpcard rules on recipes result page
    .rcpcard {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .recipes-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        margin-left: 10px;

        .rcpcard {
            flex-grow: 1;
            flex-basis: 220px;
        }
    }
}

@media (min-width: 1326px) {
    .recipes-section {
        max-width: 1200px;

        .rcpcard {
            flex-basis: 240px;
        }
    }
}

/*
		___ Materializecss Override ___
*/
/*      Layout Override
*/
.row {
    margin-bottom: 0;
}

.collapsible {
    border: none;
    box-shadow: none;

    .collapsible-header {
        padding: 0;
    }
}

/*      Forms Override
*/
.field-error {
    color: #F44336;
    font-size: 12px;
}

.input-field > label {
    color: $mz-coolgray;
    font-style: italic;
}

.dropdown-content li span {
    color: $mz-orange;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    background: $mz-orange;
}

input[type=range]::-webkit-slider-thumb {
    background: $mz-orange;
    margin-top: -6px;
}

input[type=range] + .thumb {
    background-color: $mz-orange;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-color: $mz-lightorange !important;
    box-shadow: 0 1px 0 0 $mz-lightorange !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom-color: $mz-lightorange !important;
    box-shadow: 0 1px 0 0 $mz-lightorange !important;
}

.input-field .material-icons.prefix.active {
    color: $mz-lightorange;
}

/*      Buttons
*/
.btn {
    color: $mz-orange;
    background-color: unset;
    border: 1px solid $mz-orange;

    &:hover, &:focus {
        color: $mz-darkblue;
        background-color: $mz-orange;

        a {
            color: $mz-darkblue;
            background-color: unset;
        }
    }

    &.btn-cancel {
        color: $mz-darkred;
        background-color: $mz-red;
    }
}

.btn-floating {
    background-color: $mz-orange;

    &:hover, &:focus {
        color: $mz-darkblue;
        background-color: $mz-lightorange;
    }
}

.floating-edit-btn {
    position: absolute;
    bottom: -2em;
    right: 1em;
}

/*      Tabs
*/
.tabs li {
    &.indicator {
        background-color: $mz-lightorange;
    }

    &.tab a {
        color: $mz-orange;

        &.active {
            background-color: $mz-brightorange;
            color: $mz-darkblue;
        }

        &:hover,
        &.active:focus {
            background-color: $mz-brightorange;
            color: $mz-darkblue;
        }
    }
}

/*      Modals
*/
.modal {
    max-width: 600px;
}

.modal .modal-content {
    background-color: white;
    border-bottom: 1px solid $bright-gray;
}

.modal .modal-footer {
    height: unset;

    .btn, .btn-large, .btn-small {
        margin: 1em;
    }
}

@media (max-width: 576px) {
    .modal .modal-content {
        padding: 15px 10px 10px;
    }
    .modal .modal-footer {
        height: auto;
        padding: 0 1em 1em 0;
    }
}