/*
        ___ LISTS ___
*/
dl, ol, ul {
    padding-left: 10px;
}

li {
    list-style: none;
}

/*
        ___ HEADERS ___
*/
h1, h2, h3,
h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

/*
        ___ Form Appearance ___
*/
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    background: $mz-orange;
}

input[type=range]::-webkit-slider-thumb {
    background: $mz-orange;
    margin-top: -6px;
}

input[type=range] + .thumb {
    background-color: $mz-orange;
}

/*
        ___ Materializecss Form input color override ___
*/
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-color: $mz-orange !important;
    box-shadow: 0 1px 0 0 $mz-orange !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom-color: $mz-orange !important;
    box-shadow: 0 1px 0 0 $mz-orange !important;
}

.input-field .material-icons.prefix.active {
    color: $mz-orange;
}