/*
        ___ LISTS ___
*/
dl, ol, ul {
    padding-left: 10px;
}

li {
    list-style: none;
}

/*
        ___ HEADERS ___
*/
h1, h2, h3,
h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

/*
        ___ Form Appearance ___
*/
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    background: $mz-orange;
}

input[type=range]::-webkit-slider-thumb {
    background: $mz-orange;
    margin-top: -6px;
}

input[type=range] + .thumb {
    background-color: $mz-orange;
}