// Custom colors
$bright-gray: #E6E6E6;
$light-gray: #CCC;
$mz-red: #e64539;
$mz-darkred: #590013;
$mz-brightorange: #F9EECB;
$mz-lightorange: #F5B458;
$mz-orange: #E86900;
$mz-darkorange: #993918;
$mz-lightcoolgray: #b4c4da;
$mz-coolgray: #52607b;
$mz-darkblue: #2A3038;

// Custom layout
$sides: ("t": "top", "r": "right", "b": "bottom", "l": "left");
$spacing: ("0": 0, "1": 0.25em, "2": 0.5em, "3": 0.75em, "4": 1em, "5": 2em, "6": 3em);