// Custom colors
$light-gray: #ccc;
$bright-gray: #e6e6e6;
$mz-red: #f9584c;
$mz-brown: #34322e;
$mz-darkblue: #2A3038;

// Custom layout
$sides: ("t": "top", "r": "right", "b": "bottom", "l": "left");
$spacing: ("0": 0, "1": 0.25em, "2": 0.5em, "3": 0.75em, "4": 1em, "5": 2em, "6": 3em, "auto": auto);