{# LOGIN MACRO #}
{% macro login(next_loc=None) %}
    <form id="login" action="{{ url_for('log_user', next_loc=next_loc) }}" method="POST">

        <!-- email -->
        <div class="input-field">
            <label for="email">Your Email</label>
            <input id="log-email" class="validate" name="email" type="email"
                   pattern="[A-Za-z0-9._-]{2,30}[A-Za-z0-9]@[A-Za-z0-9-._]+\.[A-Za-z]{2,11}" required>
            <span id="email_help" class="helper-text" data-error=""></span>
        </div>
        <!-- password -->
        <div class="input-field">
            <label for="password">Password</label>
            <input id="log-password" class="validate" name="password" type="password" required>
            <span class="helper-text" data-error=""></span>
        </div>
        <!-- Submit -->
        <div class="input-field">
            <button class="btn btn-small" type="submit">Login</button>
        </div>
    </form>

{% endmacro %}

{# REGISTRATION MACRO #}
{% macro register(next_loc=None) %}
    <form id="registration" action="{{ url_for('add_user', next_loc=next_loc) }}" method="POST">

        <!-- username -->
        <div class="input-field">
            <label for="username">Your Username</label>
            <input id="reg-username" class="validate" name="username" type="text" min="3" maxlenth="30"
                   pattern="[A-Za-z]{2,15}\s?[A-Za-z]{1,15}" required>
            <span id="username_help" class="helper-text"
                  data-error="Invalid format, please match up to two words of 15 letters each"></span>
        </div>
        <!-- email -->
        <div class="input-field">
            <label for="email">Your Email</label>
            <input id="reg-email" class="validate" name="email" type="email"
                   pattern="[A-Za-z0-9._-]{2,30}[A-Za-z0-9]@[A-Za-z0-9-._]+\.[A-Za-z]{2,11}" required>
            <span id="email_help" class="helper-text" data-error=""></span>
        </div>
        <!-- password -->
        <div class="input-field">
            <label for="password">Password</label>
            <input id="reg-password" class="validate" name="password" type="password" required>
            <span class="helper-text" data-error=""></span>
        </div>
        <!-- confirm password -->
        <div class="input-field">
            <label for="passwConfirm">Password</label>
            <input id="reg-passwConfirm" class="validate" name="passwConfirm" type="password" required>
            <span class="helper-text" data-error=""></span>
        </div>
        <!-- Submit -->
        <div class="input-field">
            <button class="btn btn-small" type="submit">Register</button>
        </div>
    </form>

{% endmacro %}