{% extends 'base.html' %}
{% block pagetitle %} - Contact{% endblock %}
{% block content %}
<header class="container mt-5">
    <h1 class="title mb-3">Contact Us</h1>
</header>
<main class="container mb-5 row">
    <form id="contact-form" class="col s12">
        <div class="row">
            <div class="input-field col s12 l6">
                <input id="first-name" type="text" class="validate">
                <label for="first-name">First Name</label>
                <span class="helper-text" data-error=""></span>
            </div>
            <div class="input-field col s12 l6">
                <input id="last-name" type="text" class="validate">
                <label for="last-name">Last Name</label>
                <span class="helper-text" data-error=""></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l6">
                <label for="username">Username if registered</label>
                {% if user %}
                    <input id="username" type="text" class="validate" value="{{ user.username }}" minlength="3" maxlength="30"
                   pattern="[A-Za-z]{2,15}\s?[A-Za-z]{1,15}">
                {% else %}
                    <input id="username" type="text" class="validate" value="" minlength="3" maxlength="30"
                   pattern="[A-Za-z]{2,15}\s?[A-Za-z]{1,15}">
                {% endif %}
                <span id="username_help" class="helper-text" data-error="Please insert valid name"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="email">Email</label>
                {% if user %}
                    <input id="email" class="validate" value="{{ email }}" name="email" type="email"
                           pattern="[A-Za-z0-9._-]{2,30}[A-Za-z0-9]@[A-Za-z0-9-._]+\.[A-Za-z]{2,11}" required>
                {% else %}
                    <input id="email" class="validate" value="" name="email" type="email"
                           pattern="[A-Za-z0-9._-]{2,30}[A-Za-z0-9]@[A-Za-z0-9-._]+\.[A-Za-z]{2,11}" required>
                {% endif %}
                <span id="email_help" class="helper-text" data-error="" data-success=""><em>Required</em></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="message">Message</label>
                <textarea id="message" class="materialize-textarea validate" data-length="800" required></textarea>
                <span class="helper-text" data-error="" data-success=""><em>Required</em></span>
            </div>
        </div>

        <button class="btn mb-4">Send</button>

    </form>
</main>

<!-- Modal Structure -->
<div id="confirmation" class="modal">
    <div class="modal-content">
        <h4>Message Sent</h4>
        <p>Thank you for contacting us.<br>
            We'll be in touch shortly.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn btn-small">Close</a>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/form-helper.js') }}"></script>

<script src="{{ url_for('static', filename='js/contact-msg.js') }}"></script>

{% endblock %}