{% extends 'base.html' %}
{% block pagetitle %} - Edit {{ profile.username }} profile{% endblock %}
{% block content %}
<main class="container border-b pb-3">
    <form id="editprofile" action="{{ url_for('edit_profile', profile_id=profile._id) }}" method="POST" enctype="multipart/form-data">
        <h1 class="title pt-3 pb-3">Edit your profile</h1>

        <section class="mb-5">
            <h3>Info</h3>
            <!-- user name -->
            <div class="row mb-2">
                <div class="col s12 input-field">
                    <label for="profile-username">Your username</label>
                    <input id="profile-username" class="validate" name="username" type="text" minlength="3" maxlength="31" pattern="[A-Za-z]{2,15}\s?[A-Za-z]{1,15}" required value="{{ profile.username }}">
                    <span class="helper-text" data-error="A valid name is requested"></span>
                </div>
            </div>

            <!-- user bio -->
            <div class="row valign-wrapper">
                <div class="col s11 input-field mt-2">
                    <label for="bio">About you</label>
                    <textarea id="bio" class="validate materialize-textarea" name="bio" maxlength="350">{{ profile.bio }}</textarea>
                    <span class="helper-text" data-error="Please write few words about you or delete"></span>
                </div>
                <i class="material-icons cancel col s1" onclick="clearField(this)">cancel</i>
            </div>

            <!-- Profile pic -->
            <div class="row">
                <div class="col s12">
                    <label>Profile photo</label>
                    <div class="file-field input-field">
                        <div class="btn btn-small">
                            <span>Photo</span>
                            <input id="img-btn" class="validate" type="file" name="img" accept=".gif, .jpeg, .jpg, .png">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="img-path" class="file-path validate" type="text" placeholder="Upload new photo here">
                        </div>
                        <span class="helper-text" data-error=""></span>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3>Account</h3>
            <!-- user email -->
            <div class="row">
                <div class="col s12 input-field">
                    <label for="profile-email">Your Email</label>
                    <input id="profile-email" class="validate" name="email" type="email" pattern="[A-Za-z0-9._-]{2,30}[A-Za-z0-9]@[A-Za-z0-9-._]+\.[A-Za-z]{2,11}" required value="{{ profile.email }}">
                    <span id="email_help" class="helper-text" data-error=""></span>
                </div>
            </div>

            <!-- password -->
            <div class="row">
                <div class="col s12 input-field">
                    <label for="password">New Password</label>
                    <input id="password" class="validate" name="password" type="password">
                    <span class="helper-text" data-error=""></span>
                </div>
            </div>

            <!-- confirm password -->
            <div class="row">
                <div class="col s12 input-field">
                    <label for="passwConfirm">Confirm New Password</label>
                    <input id="passwConfirm" class="validate" name="passwConfirm" type="password">
                    <span class="helper-text" data-error=""></span>
                </div>
            </div>
        </section>

        <!-- Submission -->
        <footer class="mb-4">
            <button class="btn btn-small" type="submit">Save Changes</button>
            <div class="btn btn-small ml-4"><a href="{{ url_for('profile', profile_id=profile._id) }}">Cancel</a></div>
        </footer>
    </form>
</main>
<footer class="container mt-5 mb-5">
    {% if 'user' in session and profile.username == session['user']['username'] %}
    <small><a class="modal-trigger" href="#del-account">Delete</a> your account.</small>
    {%  endif %}
</footer>

<!-- Modal Delete confirmation -->
<div id="del-account" class="modal">
    <div class="modal-content">
      <h4 class="border-b pb-3">Delete your account ?</h4>
      <p>If you proceed with your account deletion :</p>
      <ul>
        <li>- All your recipes will be permanently erased. You won't be able to retrieve them.</li>
        <li>- Your favorite recipes list will be lost. You will have to search for them.</li>
      </ul>
    </div>
    <div class="modal-footer">
      <a href="{{ url_for('delete_user', user_id=profile._id ) }}" class="btn btn-small btn-cancel">Delete</a>
      <a class="btn btn-small modal-close">Cancel</a>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/form-helper.js') }}"></script>
{% endblock %}