{% extends 'base.html' %}
{% block pagetitle %} - Home {% endblock %}
{% block content %}
<header class="landing center-align mb-6">
	<h1 id="landing-title" class="brand-title pt-2 pb-3">MyZest</h1>

	<form action="{{ url_for('search_recipes') }}" method="post">
		<div class="input-field">
			<i class="material-icons prefix">search</i>
			<input id="home-search" name="textSearch" type="text" placeholder="search ingredient, course ..."
                   class="center-align">
		</div>
		<input type="hidden" name="sort" value="updated">
	</form>

</header>

<!-- Latest Recipes Section -->
<section class="rcp-sel">
	<h3 class="rcp-sel-title">Latest Recipes</h3>
	<!-- recipe cards -->
	<ul class="rcp-sel-short">
		{% for recipe in latests %}
		{% include "rcpcard.html" %}
		{% endfor %}
	</ul>
</section>

<!-- Top Recipes Section -->
<section class="rcp-sel">
	<h3 class="rcp-sel-title">Top Recipes</h3>
	<!-- recipe cards -->
	<ul class="rcp-sel-short">
		{% for recipe in top_faved %}
		{% include "rcpcard.html" %}
		{% endfor %}
	</ul>
</section>

{% endblock %}