{% extends 'base.html' %}
{% block pagetitle %} - {{ profile.username }}{% endblock %}
{% block content %}
<main class="container border-b pb-3">
    <header id="profile" class="mt-3 border-b mb-3">
        <div class="rcp-section valign-wrapper">
            <img class="profile-tbn" src="{{ url_for('static', filename='img/users/' + profile.avatar) }}" width="120" height="120" alt="">
            <div class="ml-5">
                <h1 class="mb-2 profile-title">{{ profile.username }}</h1>
                <div class="valign-wrapper">
                    <span>{{ profile.recipes|count }}</span>
                    <span class="pl-1 material-icons">local_dining</span>
                    {% if 'faved' in profile and profile.faved > 0 %}
                        <span class="border-l pl-2 ml-2 ">{{ profile.faved if profile.faved else 0 }}</span>
                        <span class="pl-1 material-icons">favorite</span>
                    {% endif %}
                    {% if 'favorites' in profile %}
                    <span class="border-l pl-2 ml-2 ">{{ profile.favorites | count }}</span>
                    <span class="pl-1 material-icons">loyalty</span>
                    {% endif %}
                </div>
                <small class="detail">since {{ profile._id|oid_date }}</small>
            </div>
        </div>
        <div class="divider"></div>
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% else %}
            {% if session['user'] and profile.username == session['user']['username'] %}
                <p>
                    <small><a href="{{ url_for('edit_profile', profile_id=profile._id) }}">Add something</a> about you.</small>
                </p>
            {% else %}
                <p>Nothing about {{ profile.username }} yet.</p>
            {% endif %}
        {% endif %}

        <!-- edit button -->
        {% if 'user' in session and session['user']['username'] == profile.username %}
            <a class="btn-floating floating-edit-btn mb-3 tooltipped" href="{{ url_for('edit_profile', profile_id=profile._id) }}"
            data-position="left" data-tooltip="Edit your profile">
                <i class="material-icons">mode_edit</i></a>
        {% endif %}
    </header>

    <!-- recipes section -->
    <section>
    {% if session['user'] and profile.username == session['user']['username'] %}
        <h4 class="ml-3 rcp-sel-title">Your recipes</h4>
    {% else %}
        <h4 class="ml-3 rcp-sel-title">{{ profile.username }}'s recipes</h4>
    {% endif %}

    {% if profile.recipes %}
        <!-- recipe cards -->
        <ul class="rcp-results">
            {% for recipe in recipes %}
                {% include "rcpcard.html" %}
            {% endfor %}
        </ul>
    {% else %}
        {% if session['user'] and profile.username == session['user']['username'] %}
            <p>You have no recipes yet.<br>
                <small><a href="{{ url_for('add_recipe') }}">Add one</a></small>
            </p>
        {% else %}
            <p>{{ profile.username }} has no recipes yet.</p>
        {% endif %}
    {% endif %}
    </section>

    <!-- fav section -->
    <section>
    {% if session['user'] and profile.username == session['user']['username'] %}
        <h4 class="rcp-sel-title">Your favorites</h4>
    {% else %}
        <h4 class="rcp-sel-title">{{ profile.username }}'s favorites</h4>
    {% endif %}

    {% if profile.favorites != [] %}
        <!-- recipe cards -->
        <ul class="rcp-results">
            {% for recipe in faved %}
                {% include "rcpcard.html" %}
            {% endfor %}
        </ul>
    {% else %}
        {% if session['user'] and profile.username == session['user']['username'] %}
            <p>You have not saved any favorite recipe.<br>
                <small><a href="#" class="sidenav-trigger" data-target="slide-search">Browse recipes</a></small>
            </p>
        {% else %}
            <p>{{ profile.username }} has no favorite recipes yet.</p>
        {% endif %}
    {% endif %}
    </section>
</main>
{% endblock %}
