<li class="rcpcard hoverable">
	<header class="rcpcard-header">
		<img class="rcpcard-img" src="{{ url_for('static', filename='img/recipes/' + recipe.image) }}"
		     alt="{{ recipe.name }}" width="100%">
		<div class="rcpcard-grad-overlay"></div>
			<div class="rcpcard-hview valign-wrapper">
				<span>{{ recipe.views }}</span>
				<i class="material-icons ml-1">visibility</i>
			</div>
			{% if "favorite" in recipe %}
			<div class="rcpcard-hrate valign-wrapper">
				<span>{{ recipe.favorite }}</span>
				<i class="material-icons ml-1">favorite</i>
			</div>
			{% endif %}
	</header>
	<section class="rcpcard-body">
		<h4 class="pb-2 mb-1 border-b"><a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">{{ recipe.name }}</a></h4>
		<ul id="rcpcard-details" class="pl-0">

			{% if "foodType" in recipe %}
			<span class="border-r pr-2 mr-2 rcpcard-sumup">{{ recipe.foodType }}</span>
			{% endif %}

			{% if "region" in recipe  %}
			<span class="border-r pr-2 mr-2 rcpcard-sumup">{{ recipe.region }}</span>
			{% endif %}

			<span class="material-icons">people</span>
			<span class="pl-1 border-r pr-2 mr-2 rcpcard-sumup">{{ recipe.serves }}</span>

			<span class="material-icons">access_time</span>
			<span class="pl-1 border-r pr-2 mr-2 rcpcard-sumup">{{ recipe.time.total|min_to_hour }}</span>

			<span class="rcpcard-sumup">{{ recipe.difficulty }}</span>

		</ul>
		<!-- <p>Short description paragraph</p> -->
	</section>
	<footer class="row pb-2 pr-2 rcpcard-footer valign-wrapper">
		<span class="rcpcard-upd detail mr-2">{{ recipe.updated }}</span>
		<a href="{{ url_for('profile', profile_id=recipe.author_id) }}">
            <img class="author-tbn" src="{{ url_for('static', filename='img/users/' + recipe.avatar) }}" align="user">
        </a>
	</footer>
</li>