{% extends 'base.html' %}
{% block pagetitle %} {{ recipe.name }} {% endblock %}
{% block content %}
<header class="rcp-header">
    <img id="rcp-img" class="rcp-img mr-auto ml-auto" src="{{ url_for('static', filename='img/recipes/' + recipe.image) }}" alt="image missing">
</header>

<main class="container">

    <section class="rcp-section">
        <h1 class="title">{{ recipe.name }}</h1>
        <p>{{ recipe.description }}</p>
        <div class="detail valign-wrapper">
            <span class="material-icons">access_time</span>
            <span class="ml-2">{{ recipe.time.total|min_to_hour }}</span>
            <span class="border-l pl-2 ml-2 material-icons">people</span>
            <span class="ml-2">{{ recipe.serves }}</span>
            <span class="border-l pl-2 ml-2 material-icons">restaurant_menu</span>
            <span class="ml-2">{{ recipe.difficulty }}</span>
        </div>

        {% if 'user' not in session  %}
        <div class="mt-4">
            <a id="favme" class="tooltipped modal-trigger" href="#signin-modal" data-tooltip="" data-position="bottom">
                <i class="material-icons">favorite_border</i>
            </a>
        </div>
        {% elif session['user']['username'] != author.username %}
        <div class="mt-4">
            <a id="favme" class="tooltipped" onclick="favMe()" href="#" data-tooltip="" data-position="bottom">
                <i class="material-icons">favorite_border</i>
            </a>
        </div>
        {% endif %}

        <!-- edit button -->
        {% if 'user' in session and session['user']['username'] == author.username %}
            <a class="btn-floating floating-edit-btn mb-3 tooltipped" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
            data-position="left" data-tooltip="Edit your recipe">
                <i class="material-icons">mode_edit</i>
            </a>
        {% endif %}
    </section>

    <div class="divider"></div>

    <!-- author -->
    <section class="rcp-section valign-wrapper">
        <a href="{{ url_for('profile', profile_id=recipe.author_id) }}">
            <img class="rcp-author-tbn" src="{{ url_for('static', filename='img/users/' + author.avatar) }}" width="50" height="50">
        </a>
        <a class="rcp-author ml-3" href="{{ url_for('profile', profile_id=recipe.author_id) }}">
            <div>{{ author.username }}</div>
            <div>
                <small>Edited : {{ recipe.updated }}</small>
            </div>
        </a>
    </section>

    <div class="divider"></div>

    <section class="rcp-section">
        <h2>Ingredients</h2>
        <ul class="listing">
            {% for food in recipe.ingredients %}
                <li class="row">
                    <span class="col s4 l3">{{ food.amount }}</span>
                    <span class="col s8 l9">{{ food.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>

    <div class="divider"></div>

    <section class="rcp-section">
        <h2>Instructions</h2>
        {% for step in recipe.steps %}
            <p>{{ loop.index }}. {{ step.description }}</p>
            {# add step image if provided #}
        {% endfor %}
    </section>
</main>

<!-- Recipe image modal -->
<div id="recipe-viewer" class="viewer-window">
    <div class="viewer-content">
        <div class="viewer-btns">
            <i class="material-icons" onclick="toggleFullScreen()">zoom_out_map</i>
            <a id="viewer-close"><i class="material-icons">cancel</i></a>
        </div>
        <img id="viewer-img" class="viewer-img" src="{{ url_for('static', filename='img/recipes/' + recipe.image) }}" alt="image missing" onclick="toggleFullScreen()">
    </div>
</div>

<!-- login modal -->
<div id="signin-modal" class="modal">
    <div class="modal-content">
        <h4 class="border-b pb-3">You need to be logged in.</h4>
        <p>To Fav this recipe you need to login or register :</p>

        {% set location = "recipe/" + recipe._id|string %}
        {% include "signin.html" %}

    </div>
    <div class="modal-footer">
        <button class="btn btn-small modal-close">Cancel</button>
    </div>
</div>
{% endblock %}

{% block script %}
    
<script type="text/javascript">
    {% if 'user' in session %}
        var sessionUser = {{ session['user']|tojson }};
    {% else %}
        var sessionUser = "";
    {% endif %}

    var authorname = {{ author['username']|tojson }};
    var recipe_id = "{{ recipe._id }}";
</script>

<script>
    $(document).ready(function() {
        let rcpImg = $("#rcp-img").get(0);
        let picRatio = rcpImg.naturalWidth / rcpImg.naturalHeight;
        let viewer = $("#viewer-img").get(0);

        function resizeViewer() {
            $("#viewer-img").css("maxHeight", window.innerHeight - 100 + "px");
            $(".viewer-content").css("maxWidth", parseInt($("#viewer-img").css("maxHeight")) * picRatio + "px");
        }

        $("#rcp-img").click(function() {
            resizeViewer();
            $(window).on("resize", resizeViewer);
            $("#recipe-viewer").css("display", "block");
        });

        $("#viewer-close").click(function() {
            $(window).off("resize");
            $("#recipe-viewer").css("display", "none");
        });

        window.toggleFullScreen = function() {
            if (!document.fullscreenElement) {
                viewer.requestFullscreen();
            } else if (document.fullscreenElement) {
                document.exitFullscreen();
                $("#recipe-viewer").css("display", "none");
            }
        }
    });
</script>

<script src="{{ url_for('static', filename='js/session.js') }}"></script>

{% endblock %}