{% extends 'base.html' %}
{% block pagetitle %} {{ recipe.name }} {% endblock %}
{% block content %}
<header class="rcp-header">
    <img id="rcp-img" class="rcp-img mr-auto ml-auto" src="{{ url_for('static', filename='img/recipes/' + recipe.image) }}" alt="image missing">
</header>

<main class="container">

    <div class="rcp-section">
        <h1 id="rcp-name" class="title" data-recipe-id="{{ recipe._id }}">{{ recipe.name }}</h1>
        <p>{{ recipe.description }}</p>
        <div class="detail valign-wrapper">
            <span class="material-icons">access_time</span>
            <span class="ml-2">{{ recipe.time.total|min_to_hour }}</span>
            <span class="border-l pl-2 ml-2 material-icons">people</span>
            <span class="ml-2">{{ recipe.serves }}</span>
            <span class="border-l pl-2 ml-2 material-icons">restaurant_menu</span>
            <span class="ml-2">{{ recipe.difficulty }}</span>
        </div>

        {% if 'user' not in session  %}
        <div class="mt-4">
            <a id="favme" class="tooltipped modal-trigger" href="#signin-modal" data-tooltip="" data-position="bottom">
                <i class="material-icons">favorite_border</i>
            </a>
        </div>
        {% elif session['user']['username'] != author.username %}
        <div class="mt-4">
            <a id="favme" class="tooltipped" onclick="favMe()" href="#" data-tooltip="" data-position="bottom">
                <i class="material-icons">favorite_border</i>
            </a>
        </div>
        {% endif %}

        <!-- edit button -->
        {% if 'user' in session and session['user']['username'] == author.username %}
            <a class="btn-floating floating-edit-btn mb-3 tooltipped" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
            data-position="left" data-tooltip="Edit your recipe">
                <i class="material-icons">mode_edit</i>
            </a>
        {% endif %}
    </div>

    <div class="divider"></div>

    <!-- author -->
    <div class="rcp-section valign-wrapper">
        <a href="{{ url_for('profile', profile_id=recipe.author_id) }}">
            <img class="rcp-author-tbn" src="{{ url_for('static', filename='img/users/' + author.avatar) }}" width="50" height="50" alt="">
        </a>
        <a id="rcp-author" class="rcp-author ml-3" href="{{ url_for('profile', profile_id=recipe.author_id) }}" data-author-name="{{ author['username'] }}">
            <div>{{ author.username }}</div>
            <div>
                <small>Edited : {{ recipe.updated }}</small>
            </div>
        </a>
    </div>

    <div class="divider"></div>

    <div class="rcp-section">
        <h2>Ingredients</h2>
        <ul class="listing">
            {% for food in recipe.ingredients %}
                <li class="row">
                    <span class="col s4 l3">{{ food.amount }}</span>
                    <span class="col s8 l9">{{ food.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="divider"></div>

    <div class="rcp-section">
        <h2>Instructions</h2>
        {% for step in recipe.steps %}
            <p>{{ loop.index }}. {{ step.description }}</p>
            {# add step image if provided #}
        {% endfor %}
    </div>
</main>

<!-- Recipe image modal -->
<div id="recipe-viewer" class="viewer-window">
    <div class="viewer-content">
        <div class="viewer-btns">
            <i class="material-icons" onclick="toggleFullScreen()">zoom_out_map</i>
            <a id="viewer-close"><i class="material-icons">cancel</i></a>
        </div>
        <img id="viewer-img" class="viewer-img" src="{{ url_for('static', filename='img/recipes/' + recipe.image) }}" alt="image missing" onclick="toggleFullScreen()">
    </div>
</div>

<!-- login modal -->
<div id="signin-modal" class="modal">
    <div class="modal-content">
        <h4 class="border-b pb-3">You need to be logged in.</h4>
        <p>To Fav this recipe you need to login or register :</p>

        {% set location = "recipe/" + recipe._id|string %}
        {% include "signin.html" %}

    </div>
    <div class="modal-footer">
        <button class="btn btn-small modal-close">Cancel</button>
    </div>
</div>

<span id="sessionUserData" data-user-id="{{ user }}" hidden></span>
{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/image-viewer.js') }}"></script>

<script src="{{ url_for('static', filename='js/session.js') }}"></script>

{% endblock %}