{% from "_macros.html" import login with context %}
{% from "_macros.html" import register with context %}
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#login-tab">Login</a></li>
            <li class="tab col s6"><a href="#register-tab">register</a></li>
        </ul>
    </div>

    <!-- Login tab -->
    <div id="login-tab" class="col s12">
        {{ login(location) }}
    </div>

    <!-- Register tab -->
    <div id="register-tab" class="col s12">
        {{ register(location) }}
    </div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='js/form-helper.js') }}"></script>
{% endblock %}