<ul id="slide-search" class="sidenav txt-ctr">
	<form class="mt-6 container" action="{{ url_for('search_recipes') }}" method="POST" enctype="multipart/form-data">

		<p>Looking for</p>
		<!-- Food type -->
		<div id="food-field" class="input-field pb-2">
			<select class="custom-select mr-sm-2" name="foodType">
				<option selected value="any">Any</option>
				{% for food in foodtypes %}
					{% if query and query.foodType == food %}
					<option selected value="{{ food }}">{{ food|title }}</option>
					{% else %}
					<option value="{{ food }}">{{ food|title }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label>Food Type</label>
		</div>

		<!-- difficulty -->
		<div id="diff-field" class="input-field">
			<select class="custom-select mr-sm-2" name="difficulty">
				<option selected value="any">Any</option>
				{% for diff in difficulties %}
					{% if query and query.difficulty == diff %}
					<option selected value="{{ diff }}">{{ diff|title }}</option>
					{% else %}
					<option value="{{ diff }}">{{ diff|title }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label>Difficulty</label>
		</div>

		<!-- Time -->
		<div class="mb-4 pr-4">
			<div class="row">
				<div class="input-field col s6">
					<label>Total duration :</label>
					<input id="timer-start" type="number" name="timer.start" placeholder="From..." step="5" min="5" max="240">
				</div>
				<div class="input-field col s6">
					<input id="timer-stop" type="number" name="timer.stop" placeholder="To..." step="5" min="5" max="240">
				</div>
			</div>
			<div id="search-timer"></div>
		</div>

		<!-- Serves -->
		<div id="serving-section" class="mb-6 pb-4 pr-4">
			<div class="row">
				<div class="input-field col s6">
					<label>Serves :</label>
					<input id="serve-start" type="number" name="serve.start" placeholder="From..." min="1" max="20">
				</div>
				<div class="input-field col s6">
					<input id="serve-stop" type="number" name="serve.stop" placeholder="To..." min="1" max="20">
				</div>
			</div>
			<div id="serving"></div>
		</div>

		<div class="divider"></div>

		<p>Sorting by</p>

		<!-- Sorts -->
		<div class="mb-4">
			<div class="row">
				<div class="input-field col s12">
					<select class="custom-select mr-sm-2" name="order">
						{% for sort in sorts %}
							{% if order and order == sort[0] %}
							<option selected value="{{ sort[0] }}">{{ sort[1]|title }}</option>
							{% else %}
							<option value="{{ sort[0] }}">{{ sort[1]|title }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<!-- Submit -->
		<small id="recipe-count">-- recipes matching</small>
		<div id="submit-btn">
			<button class="btn mt-4 mb-4" type="submit">
				<div class="valign-wrapper">
					<span class="mr-3">Get recipes</span><i class="material-icons">search</i>
				</div>
			</button>
		</div>
	</form>
</ul>

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='vendors/nouislider/distribute/nouislider.min.js') }}"></script>

<script type="text/javascript">

	// Linking time search sliders
	var searchTimer = document.getElementById('search-timer');

	{% if query %}
		var timeRange = [ {{ query['time.total']['$gte'] }}, {{ query['time.total']['$lte'] }} ]
	{% else %}
		var timeRange = [5, 240]
	{% endif %}

	noUiSlider.create(searchTimer, {
		start: timeRange,
		connect: true,
		step: 5,
		orientation: 'horizontal',
		range: {
			'min': 5,
			'max': 240
		},
		format: {
			from: function (value) {
        return Number(value.replace(',', ''));
      },
      to: function (value) {
        return Math.round(value);
      }
    }
	});

	// Linking serves search sliders
	var servings = document.getElementById('serving');

	{% if query %}
		var serveRange = [ {{ query.serves['$gte'] }}, {{ query.serves['$lte'] }} ]
	{% else %}
		var serveRange = [1, 20]
	{% endif %}

	noUiSlider.create(servings, {
		start: serveRange,
		connect: true,
		step: 1,
		orientation: 'horizontal',
		range: {
			'min': 1,
			'max': 20
		},
		format: {
			from: function (value) {
        return Number(value.replace(',', ''));
      },
      to: function (value) {
        return Math.round(value);
      }
    }
	});

</script>

<script>
	$(document).ready(function(){

		// Init search sidenav and prevent swipe sliders interactions
	    $('#slide-search').sidenav({"draggable": false});

		// Link input fields and sliders values
		searchTimer.noUiSlider.on('update', function(values, handle) {
			if (handle) {
				$("#timer-stop").val(values[handle]);
			} else {
				$("#timer-start").val(values[handle]);
			}
		});
		$("#timer-start").on("change", function() {
			searchTimer.noUiSlider.set([$(this).val(), null])
		});
		$("#timer-stop").on("change", function() {
			searchTimer.noUiSlider.set([null, $(this).val()])
		});

		servings.noUiSlider.on('update', function(values, handle) {
			if (handle) {
				$("#serve-stop").val(values[handle]);
			} else {
				$("#serve-start").val(values[handle]);
			}
		});
		$("#serve-start").on("change", function() {
			servings.noUiSlider.set([$(this).val(), null])
		});
		$("#serve-stop").on("change", function() {
			servings.noUiSlider.set([null, $(this).val()])
		});

		// Count recipes to return
		function countRecipes() {
			var formdata = {
				"foodType": $("#food-field .selected").text().toLowerCase(),
				"difficulty": $("#diff-field .selected").text().toLowerCase(),
				"timer.start": parseInt($("#timer-start").val()),
				"timer.stop": parseInt($("#timer-stop").val()),
				"serve.start": parseInt($("#serve-start").val()),
				"serve.stop": parseInt($("#serve-stop").val())
			};

			$.ajax({
				contentType: "application/json; charset=utf-8",
				method: 'post',
				url: '/searchcount',
				data: JSON.stringify(formdata)
			})
			.done(function(response){
				$("#recipe-count").text(response.nbr_recipes + " recipes matching")
			});
		}

		$("#input, #food-field, #diff-field").on("change", function(){
			console.info("input changed");
			countRecipes();
		});
		$(".noUi-touch-area").on("click", function () {
			console.log("slider clicked");
			countRecipes();
		});

	});

</script>

{% endblock %}