<ul id="slide-search" class="sidenav txt-ctr">
	<form class="mt-6" action="{{ url_for('search_recipes') }}" method="POST" enctype="multipart/form-data">

		<p>Looking for</p>

		<!-- name -->
		<div class="mt-4 mb-4 pr-4">
			<div class="row">
				<div class="input-field">
					{% if query and '$text' in query %}
					<input id="text-search" name="textSearch" type="text" class="validate" value="{{ query['$text']['$search'] }}">
					{% else %}
					<input id="text-search" name="textSearch" type="text" class="validate">
					{% endif %}
					<label for="text-search">Ingredient, recipe name</label>
				</div>
			</div>
		</div>

		<!-- Food type -->
		<div id="food-field" class="input-field pb-2">
			<select class="custom-select mr-sm-2" name="foodType">
				<option selected value="any">Any</option>
				{% for food in session.rcp.foodTypes %}
					{% if query and query.foodType == food %}
					<option selected value="{{ food }}">{{ food|title }}</option>
					{% else %}
					<option value="{{ food }}">{{ food|title }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label>Food Type</label>
		</div>

		<!-- difficulty -->
		<div id="diff-field" class="input-field">
			<select class="custom-select mr-sm-2" name="difficulty">
				<option selected value="any">Any</option>
				{% for diff in session.rcp.difficulties %}
					{% if query and query.difficulty == diff %}
					<option selected value="{{ diff }}">{{ diff|title }}</option>
					{% else %}
					<option value="{{ diff }}">{{ diff|title }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label>Difficulty</label>
		</div>

		<!-- Time -->
		<div class="mb-4 pr-4">
			<div class="row">
				<div class="input-field col s6">
					<label>Total duration :</label>
					<input id="timer-start" type="number" name="timer.start" placeholder="From..." step="5" min="5" max="240">
				</div>
				<div class="input-field col s6">
					<input id="timer-stop" type="number" name="timer.stop" placeholder="To..." step="5" min="5" max="240">
				</div>
			</div>
			<div id="search-timer"></div>
		</div>

		<!-- Serves -->
		<div id="serving-section" class="mb-6 pb-4 pr-4">
			<div class="row">
				<div class="input-field col s6">
					<label>Serves :</label>
					<input id="serve-start" type="number" name="serve.start" placeholder="From..." min="1" max="20">
				</div>
				<div class="input-field col s6">
					<input id="serve-stop" type="number" name="serve.stop" placeholder="To..." min="1" max="20">
				</div>
			</div>
			<div id="serving"></div>
		</div>

		<div class="divider"></div>

		<p>Sorting by</p>

		<!-- Sorts -->
		<div class="mb-4">
			<div class="row">
				<div class="input-field col s12">
					<select class="custom-select mr-sm-2" name="sort">
						{% for sorting in session.rcp.sortings %}
							{% if sort and sort == sorting[0] %}
							<option selected value="{{ sorting[0] }}">{{ sorting[1]|title }}</option>
							{% else %}
							<option value="{{ sorting[0] }}">{{ sorting[1]|title }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<!-- Submit -->
		<small id="recipe-count">-- recipes matching</small>
		<div id="submit-btn">
			<button class="btn mt-4 mb-4" type="submit">
				<div class="valign-wrapper">
					<span class="mr-3">Get recipes</span><i class="material-icons">search</i>
				</div>
			</button>
		</div>
	</form>
</ul>

{% block script %}

<!-- Materialize noUI Slider plugin -->
<script type="text/javascript" src="{{ url_for('static', filename='vendor/nouislider/distribute/nouislider.min.js') }}"></script>

<script type="text/javascript">

	// Linking time search sliders
	var searchTimer = document.getElementById('search-timer');

	{% if query %}
		var timeRange = [ {{ query['time.total']['$gte'] }}, {{ query['time.total']['$lte'] }} ];
	{% else %}
		var timeRange = [5, 240];
	{% endif %}

	noUiSlider.create(searchTimer, {
		start: timeRange,
		connect: true,
		step: 5,
		orientation: 'horizontal',
		range: {
			'min': 5,
			'max': 240
		},
		format: {
			from: function (value) {
				return Number(value.replace(',', ''));
			},
			to: function (value) {
				return Math.round(value);
			}
		}
	});

	// Linking serves search sliders
	var servings = document.getElementById('serving');

	{% if query %}
		var serveRange = [ {{ query.serves['$gte'] }}, {{ query.serves['$lte'] }} ];
	{% else %}
		var serveRange = [1, 20];
	{% endif %}

	noUiSlider.create(servings, {
		start: serveRange,
		connect: true,
		step: 1,
		orientation: 'horizontal',
		range: {
			'min': 1,
			'max': 20
		},
		format: {
			from: function (value) {
				return Number(value.replace(',', ''));
			},
			to: function (value) {
				return Math.round(value);
			}
		}
	});

</script>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% endblock %}