{% extends 'base.html' %}
{% block pagetitle %} - Terms and Conditions {% endblock %}
{% block content %}
<header class="container mt-5 mb-5">
    <h1 class="border-b pb-2 mb-1">MyZest Terms Of Use</h1>

    <small>Effective Date: 2019.09.14</small>

    <p>Please read these Terms and Conditions (hereinafter "Terms", "Terms and Conditions")
        carefully before using the 'MyZest' website (hereinafter the "Service") operated by
        MyZest ("us", "we", or "our").</p>
    <p>Your access to and use of the Service is conditioned on your acceptance of and
        compliance with these Terms. These Terms apply to all visitors, users and
        others who access or use the Service.</p>
    <p>By accessing or using the Service you agree to be bound by these Terms. If you
        disagree with any part of the Terms then you may not access the Service.</p>
    <small>These Terms and Conditions for MyZest has been created with the help of
        <a href="https://www.termsfeed.com/">TermsFeed</a></small>

</header>
<main class="container">

    <section class="mb-5">
        <h2 class="border-b pb-1">Account</h2>

        <p>When you create an account with us, you must provide us information that is
            accurate, complete, and current at all times. Failure to do so constitutes a
            breach of the Terms, which may result in immediate termination of your account
            on our Service.</p>
        <p>You are responsible for safeguarding the password that you use to access the
            Service and for any activities or actions under your password, whether your
            password is with our Service or a third-party service.</p>
        <p>You agree not to disclose your password to any third party. You must notify us
            immediately upon becoming aware of any breach of security or unauthorized use
            of your account.</p>
    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">User Behaviour</h2>

        <p>The User agrees not to use MyZest to do any of the following :</p>
        <ul>
            <li><em>- Upload medias that would infringe copyright or trademark or other
                intellectual property;</em>
            </li>
            <li><em>- Upload any media or publish any message that is vulgar, obscene,
                harmful, threatening, indecent, hateful, racial, political or religiously
                offensive;</em>
            </li>
            <li><em>- Use the Service for advertising to other users to buy, sell any product
                or services;</em>
            </li>
            <li><em>- Use the Service to gain access to information in order to harass, abuse or
                harm any other user or person;</em>
            </li>
            <li><em>- Interfere with or disrupt the Service or its servers or system in
                any way.</em>
            </li>
        </ul>
    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">Termination </h2>

        <p>We may terminate or suspend access to our Service immediately, without prior
            notice or liability, for any reason whatsoever, including without limitation
            if you breach the Terms.</p>
        <p>Upon termination, your right to use the Service will immediately cease. If you
            wish to terminate your account, you may simply discontinue using the Service.</p>
    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">Content</h2>

        <p>The Service contains recipes and images uploaded by any registered Users. We are not
            responsible for any misuse of recipes instructions nor ingredients listed.</p>
        <p>The User is sole responsible for executing any recipe's instruction with its listed ingredients
            found on our Service.</p>
        <p>At any time the User may report any doubtful, misleading or inappropriate recipe or its content.</p>

    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">Intellectual Property</h2>

        <p>By using the Service the User does not gain any rights over MyZest materials including
            the website design, images, logo, illustrations, artwork, computer code and algorithms.</p>
        <p>Ownership rights remain unchanged for any media the User uploads to our Service.</p>
        <p>Any rights not expressly granted in these Terms and Conditions are expressly reserved.</p>
    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">Liability</h2>

        <p>We are working hard to provide the best experience to the User.
            The Service however is provided "as is".</p>
        <p>While we will do our best to maintain the quality of Service provided. Under no
            circumstance will MyZest be liable for any interruption of service, information
            or data loss, nor consequential direct or indirect damages.</p>
        <p>We do not control users interaction with the Service and therefore
            are not responsible for their conduct nor any content
            they share including offensive, inappropriate, unlawful or other
            objectionable content.</p>
    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">Changes</h2>

        <p>We reserve the right, at our sole discretion, to modify or replace these Terms
            at any time. If a revision is material we will try to provide at least 15 days
            notice prior to any new terms taking effect. What constitutes a material
            change will be determined at our sole discretion.</p>
        <p>By continuing to access or use our Service after those revisions become
            effective, you agree to be bound by the revised terms. If you do not agree to
            the new terms, please stop using the Service.</p>
    </section>

    <section class="mb-5">
        <h2 class="border-b pb-1">Contact Us</h2>

        <p>If you have any questions about these Terms, please <a href="{{ url_for('contact') }}">contact us</a>.
        <p>
    </section>
</main>
{% endblock %}