{% extends 'base.html' %}
{% block pagetitle %} - Update recipe {% endblock %}
{% block content %}
<header class="container mt-3 mb-4">
	<h1>Update your recipe</h1>
</header>
<main class="container">
	<form id="updRecipeForm" action="" method="POST" enctype="multipart/form-data">

		<div class="input-field mb-2">
			<label for="rcpname">Recipe Name</label>
			<input class="validate" name="name" type="text" maxlength="50" required value="{{ recipe.name }}">
			<span class="helper-text" data-error="This field is required"></span>
		</div>

		<div class="input-field mt-2">
			<label for="description">Description</label>
			<textarea class="validate materialize-textarea" name="description" required maxlength="180">{{ recipe.description }}</textarea>
			<span class="helper-text" data-error="This field is required"></span>
		</div>

		<!-- Difficulty -->
		<div class="input-field mb-3 col s12">
			<select id="difficulty" name="difficulty" class="validate" required>
				{% for diff in session.rcp.difficulties %}
				{% if diff == recipe.difficulty %}
				<option selected value="{{ diff }}">{{ diff|title }}</option>
				{% else %}
				<option value="{{ diff }}">{{ diff|title }}</option>
				{% endif %}
				{% endfor %}
			</select>
			<label for="difficulty">Difficulty</label>
			<span id="diff-helper" class="helper-text invalid" data-error="Please select difficulty"></span>
		</div>

		<!-- serving -->
		<div class="range-field">
			<label for="serves">Serves</label>
			<output id="serving" for="serves" class="form-value ml-4">{{ recipe.serves }}</output>
			<input type="range" id="serves" name="serves" min="1" max="20" value="{{ recipe.serves }}" oninput="serving.value = serves.value"/>
			<span class="helper-text" data-error=""></span>
		</div>

		<!-- time -->
		<div class="range-field">
			<label for="time">Time</label>
			<output id="timer" for="time" class="form-value ml-4">{{ recipe.time.total }}</output>
			<input type="range" id="time" name="time" min="5" max="240" step="5" value="{{ recipe.time.total }}" oninput="timer.value = time.value"/>
			<span class="helper-text" data-error=""></span>
		</div>

		<div class="border-b mb-5"></div>

		<!-- Ingredients -->
		<div class="input-field mb-5">
			<h3>Ingredients</h3>
			<ul id="ingredient-list">
				{% for ing in recipe.ingredients %}
				<li class="row valign-wrapper ing-item">
					{% if loop.index == 1 %}
					<div class="input-field col s8">
						<label for="ingredient-{{ loop.index }}">Ingredient {{ loop.index }}</label>
						<input id="ingredient-{{ loop.index }}" name="ingredient-{{ loop.index }}" class="validate" type="text" value="{{ ing.name }}" required>
						<span class="helper-text" data-error="This field is required"></span>
					</div>
					<div class="input-field col s4">
						<label for="amount-{{ loop.index }}">Amount {{ loop.index }}</label>
						<input id="amount-{{ loop.index }}" name="amount-{{ loop.index }}" class="validate" type="text" value="{{ ing.amount }}" required>
						<span class="helper-text" data-error="This field is required"></span>
					</div>
					{% else %}
					<div class="input-field col s7">
						<label for="ingredient-{{ loop.index }}">Ingredient {{ loop.index }}</label>
						<input id="ingredient-{{ loop.index }}" name="ingredient-{{ loop.index }}" class="validate" type="text" value="{{ ing.name }}" required>
						<span class="helper-text" data-error="This field is required"></span>
					</div>
					<div class="input-field col s4">
						<label for="amount-{{ loop.index }}">Amount {{ loop.index }}</label>
						<input id="amount-{{ loop.index }}" name="amount-{{ loop.index }}" class="validate" type="text" value="{{ ing.amount }}" required>
						<span class="helper-text" data-error="This field is required"></span>
					</div>
					<i class="material-icons col s1" onclick="removeIngredient(this)">cancel</i>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<a id="add-ing-btn" class="btn" onclick="addIngredient()">add ingredient</a>
		</div>

		<div class="border-b mb-5"></div>

		<!-- Instructions -->
		<div class="mb-5">
			<h3>Instructions</h3>
			<ul id="step-list">
				{% for step in recipe.steps %}
				<li class="row step-item">
				{% if loop.index == 1 %}
					<div class="input-field col s12 mb-2 mt-2">
						<label for="step-{{ loop.index }}">Step {{ loop.index }}</label>
						<textarea class="validate materialize-textarea" name="step-{{ loop.index }}" required maxlength="300">{{ step.description }}</textarea>
						<span class="helper-text" data-error="This field is required"></span>
					</div>
					{% else %}
					<div class="input-field col s11 mb-2 mt-2">
						<label for="step-{{ loop.index }}">Step {{ loop.index }}</label>
						<textarea class="validate materialize-textarea" name="step-{{ loop.index }}" required maxlength="300">{{ step.description }}</textarea>
						<span class="helper-text" data-error="This field is required"></span>
					</div>
					<i class="material-icons col s1" onclick="removeStep(this)">cancel</i>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<span id="add-step-btn" class="btn" onclick="addStep()">add step</span>
		</div>

		<div class="border-b mb-5"></div>

		<!-- image -->
		<div class="mb-5">
			<h3>Add photo</h3>
			<div class="file-field input-field">
				<div class="btn">
					<span>Photo</span>
					<input id="img-btn" class="validate" type="file" name="img" accept=".gif, .jpeg, .jpg, .png">
				</div>
				<div class="file-path-wrapper">
					<input id="img-path" class="file-path validate" type="text" placeholder="Upload new photo here">
				</div>
				<span class="helper-text" data-error=""></span>
			</div>
		</div>

		<div class="border-b mb-5"></div>

		<h3>Extra details</h3>
		<ul class="collapsible mb-5">
				<!-- optional food type -->
			<li>
				<div class="collapsible-header"><span class="pb-2 pt-2">Food Type</span></div>
				<div class="collapsible-body">
					<div class="input-field mb-3">
						<select class="custom-select" id="newRcpFType" name="foodType">
							<option selected value="none">None</option>
							{% for foodtype in session.rcp.foodTypes %}
							{% if foodtype == recipe.foodType %}
							<option selected value="{{ foodtype }}">{{ foodtype|title }}</option>
							{% else %}
							<option value="{{ foodtype }}">{{ foodtype|title }}</option>
							{% endif %}
							{% endfor %}
						</select>
						<label>Change food type ?</label>
					</div>
				</div>
			</li>
			{# Privacy #}
			{# Region #}
			{# Category #}
		</ul> <!-- /collapsible -->

		<!-- Submission -->
		<div id="submit-btn">
			<button class="btn mb-4" type="submit" onclick="validateForm()">
				<div class="valign-wrapper">
					<span class="mr-3">Submit</span><i class="material-icons">send</i>
				</div>
			</button>
		</div>
	</form>
</main>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function(){
	    $("select").formSelect();
	    $('.collapsible').collapsible({accordion: false});
	});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/recipe.js') }}"></script>
{% endblock %}