html, body {
	font-size: 14px;
	height: 100%;
}
#myzest-nav {
    background-color: $mz-darkblue;
    @include thinshw(outset);
}
.brand-title {
	font-family: 'Sahitya', serif;

}
.main-wrapper {
	min-height: calc(100% - 165px);
}
#main-footer {
	height: 165px;
	padding-top: 20px;
	background-color: $mz-darkblue;
	color: white;
	@include thinshw(inset);

	a {
		text-decoration: none;
		color: white;

		&:hover {
			color: $light-gray;
		}
	}
}
.copyright {
	text-align: center;
	font-size: .8rem;
}
/*
		Alerts - flash messages
*/
.flash-warning {
    @include flash-message;
    color: #a0101c;
    background-color: #fadadf;
    border-color: #faced0;
}
.flash-success {
    @include flash-message;
    color: #14752a;
    background-color: #d4ede0;
    border-color: #c2e2c8;
}
.flash-info {
    @include flash-message;
    color: #225a70;
    background-color: #ddf8fd;
    border-color: #c4ebf1;
}