.rcpcard {
	display: inline-block;
	position: relative;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 2px 5px -2px gray;
	white-space: normal;
	font-size: 1rem;
	margin: 0.25em;
}
.rcpcard-header {
	position: relative;
	width: 100%;
	color: white;
}
.rcpcard-img {
	border-radius: 10px 10px 0px 0px;
	vertical-align: middle;
	height: 150px;
	object-fit: cover;
}
.rcpcard-grad-overlay {
	z-index: 3;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,0));
}
.rcpcard-hview,
.rcpcard-hrate {
	position: absolute;
	z-index: 3;
	bottom: 2px;
	font-size: 0.9em;
	.material-icons {
		font-size: 1.5em;
	}
}
.rcpcard-hview {
	left: 10px;
}
.rcpcard-hrate {
	right: 10px;
}
.rcpcard-body {
    padding: 1em;
    // leave space for footer absolute pos
    margin-bottom: 40px;
}
#rcpcard-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

	.rcpcard-sumup {
		font-size: 0.9em;
	}

	.material-icons {
		font-size: 1.5em;
	}
}
.rcpcard-footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
.rcpcard-upd {
	font-size: 0.8rem;
}
.author-tbn {
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	object-fit: cover;
}