.rcp-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	// scroll handle correction
	margin-right: 10px;

	// override rcpcard rules on recipes result page
	.rcpcard {
		width: 100%;
		max-width: 280px;
	}
}

@media (min-width: 500px) {
	.rcp-results {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		align-items: stretch;
		margin-left: 10px;

		.rcpcard {
			width: 220px;
		}
	}
}