.rcp-header {
	position: relative;
	width: 100%;
}
.rcp-img {
	width: 100%;
	max-height: 340px;
	object-fit: cover;
}
.rcp-section {
	padding-bottom: 1em;
	padding-top: 1em;
}
.rcp-author-tbn {
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}